@import url('./header.scss');
@import url('./sideBar.scss');
@import url('./content.scss');

*{
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #2B2E39;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.mainView {
  display: flex;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 195px;
  margin: 10px 5px 10px 10px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 830px;
  margin: 10px 10px 10px 5px;
}