.infoServer-View {
  display: flex;
  width: 820px;
  height: 65px;

  background: #202224;
  border-radius: 8px;
}

.descriptionServer-View {
  display: flex;
  width: 820px;
  height: 535px;
  margin-top: 10px;

  background: #202224;
  border-radius: 8px;
}