.sideBar {
  display: flex;
  width: 195px;
  height: 550px;

  background: #202224;
  border-radius: 8px;
}

.account-Card {
  display: flex;
  margin-top: 10px;
  width: 195px;
  height: 50px;

  background: #202224;
  border-radius: 8px;
}