span {
  color: aliceblue;
  background: transparent;
  font-size: 18pt;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.server-card-1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #494c53;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
}